<div class="arena_battle_image">
<img style="display: block; max-width: 200px;" src=https://www.pokemonbattlearena.net/members/theme/assets/IMG/pba_logo.png>
</div>


<h2 class="vs"> <%= @battle.user.species %> VS <%= @battle.opponent.species %> </h2> 
<div style="width:98%; margin:1%;">


<div class="ui container">
    <table class="center">
    <!-- <tr> 
        <td class="td"> <h3> <%= @battle.user.species %></h3> </td>
        <td class="td"> <h3> <%= @battle.opponent.species  %> </h3> </td>
    </tr> -->
    <tr>
        <td class="td"><h3> Type: <%= @battle.user.type.name %> </h3></td>
        <td class="td"><h3> Type: <%= @battle.opponent.type.name %> </h3></td>
    </tr>
    <tr>
        <td class="td"><h3> Speed: <%= @battle.user.speed %> </h3> </td>
        <td class="td"><h3> Speed: <%= @battle.opponent.speed %> </h3> </td>
    </tr>
    <tr>
        <td class="td"><h3> Health Points: <%= @battle.user.hp %></h3> <progress value="<%= @battle.user.hp %>" max="10"> </progress></td>
        <td class="td"><h3> Health Points: <%= @battle.opponent.hp %> </h3> <progress value="<%= @battle.opponent.hp %>" max="10"> </progress></td>
    </tr>
    <tr>
        <td class="td"><h3> Attack: <%= @battle.user.attack %> </h3> </td>
        <td class="td"><h3> Attack: <%= @battle.opponent.attack %> </h3> </td>
    </tr>
    <tr>
        <td class="td"><h3> Defence: <%= @battle.user.defence %> </h3> </td>
        <td class="td"><h3> Defence: <%= @battle.opponent.defence %> </h3>  </td>
    </tr>
    <tr>
        <td class="td"><img class=image src=<%= @battle.user.image %>> </td>
        <td class="td"><img class=image src=<%= @battle.opponent.image%>>  </td>
    </tr>
    </table>

</div>

</div>



<!-- table {
    border-spacing: 50px 0px;
    padding: 0px 150px;
} -->