<%= render partial: "arena" %>

<h3 class="attack">
<%= "#{@attacker.species} is attacking  #{@defendant.species}" %> <br>
<% if @attacker == @battle.user && @battle.user_strong_against? %>
    <%= "#{@attacker.species} is a #{@attacker.type.name} type and its attack is super effective against #{@defendant.type.name} types" %> <br>
    <%= "#{@attacker.species}'s power has doubled" %>
<% elsif @attacker == @battle.opponent && @battle.opponent_strong_against? %>
    <%= "#{@attacker.species} is a #{@attacker.type.name} type and its attack is super effective against #{@defendant.type.name} types" %> <br>
    <%= "#{@attacker.species}'s power has doubled" %>
<% end %><br>



<%= "#{@defendant.species} defended #{@defendant.defence} damage" %> <br>
<%= "#{@defendant.species} took" %>

<% if @defendant == @battle.user %>
    <%= "#{@battle.opponent_final_damage} damage" %>
<% else %>
    <%= "#{@battle.user_final_damage} damage" %>
<% end %> <br>

<%= "#{@defendant.species}'s health dropped down to #{@defendant.hp}" %> <br>
<br>
<% if @defendant.hp == 0 %>
    <%= "#{@attacker.species} WINS!" %>
    <%= render partial: "gameover" %>
<% else %>
<%= button_to "Next Attack", attack_path(@battle), method: :get %>
<% end %>
</h3>