<h1>New Battle</h1>

<%= form_for @battle do |f| %>
    <%= f.label :user_id, "Pick your Pokemon" %> 
    <%= f.collection_select :user_id, Pokemon.all, :id, :species %><br>
    <!-- <%= f.label :opponent_id, "Pick your Opponent" %>
    <%= f.collection_select :opponent_id, Pokemon.all, :id, :species %><br> -->

    <%= f.submit "Start Battle" %>
    <% end %>