<h1><%= @pokemon.species %></h1>

<h3> Type: <%= @pokemon.type.name %> </h3>
<h3> Speed: <%= @pokemon.speed %> </h3>
<h3> Health Points: <%= @pokemon.hp %> </h3>
<h3> Attack: <%= @pokemon.attack %> </h3>
<h3> Defence: <%= @pokemon.defence %> </h3>
