<div style="padding: 20px 100px; justify-content: center;">

<h1 class="titles"> Team Builder for <%= @trainer.name.upcase %> </h1>
<h1> </h1>
<div class="ui form">
        <div class="ui form error">
        <div class="field">
            <% if @trainer.errors.any? %>
                <% @trainer.errors.full_messages.each do |message| %>
                    <div class="ui error message"><h5 style="color: red;"> <%= message %> </h5></div>
                <% end %> 
            <% end %>
            </div>
        </div>
        </br>
    <%= form_for @trainer do |f| %>
        <div class="fields">
            <h4><%= f.label :pokemons,  "Pick up to 6 Pokémon for your team:" %></h4>
            <div class="field">
                    <h4><%= f.collection_check_boxes :pokemon_ids, Pokemon.all, :id, :species %></h4> 
            </div>
        </div>
     
        <h4><%= f.submit "Catch Pokémon", class: "homebutton" %></h4> <br>
    <% end %> <br>

</div>
<br>
<h1> </h1>
<br>
<div class="ui grid">
    <% Pokemon.all.each do |p| %>
        <div class="two wide column"><img style="display:block; width: 60%" src=<%= p.image%>></div>
    <% end %>
</div>

</div>
